
ion-item{
    .nav{
        padding: 10px;
        color: aliceblue;
    
       
    }
}
ion-content{
    background-color:   lightblue !important;
    box-sizing: border-box;
    border: 15px solid skyblue; 

 
}
ion-item{
   margin: auto;
//    top:250px;

}
img{
  margin: auto;
  height: 200px;
  
  
}


